/* TEMPORARY */
main{
    border: 2px solid black;
}

#contacts-side{
    border: 2px solid green;
}

#chat-side{
    border: 2px solid green;
}

#user,
#notifications,
#header-chat,
#footer-chat{
    height: 70px;
    border: 1px solid green;
}

#search{
    height: 45px;
    border: 1px solid green;
}
#contacts,
#contacts li{
    border: 1px solid green;
}


/* BACKGROUND */
#background{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN */
main{
    height: calc(100vh - 40px);
}

/* contacts-side */
#contacts{
    overflow-y: scroll;
    height: calc((100vh - 40px) - 190px);
}

/* chat-side */
#main-chat{
    overflow-y: scroll;
    height: calc((100vh - 40px) - 145px);
}
