/* TEMPORARY */

#user,
#notifications,
#header-chat,
#footer-chat{
    height: 70px;
}

#search{
    height: 45px;
}


/* ROOTS */
:root{
    --top-bgr: #009688;
    --bottom-bgr: #D8DBD6;
    --notify-color: #8EDAFC;
    --section-bgr: #EAEAEA;
    --text-section: #F3EEEA;
    --icons-light: #B1B1B1;
    --icons-dark: #6B7376;
}

/* GENERAL */
#user,
#search,
#contacts,
#header-chat{
    background-color: var(--section-bgr);
}

li{
    list-style: none;
}


/* BACKGROUND */
#background{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(216,219,214,1) 15%);
}

/* MAIN */
main{
    height: calc(100vh - 40px);
}

/* contacts-side */
#contacts-side{
    padding: 0;
    border-right: 1px solid var(--icons-light);
}

#notifications{
    background-color: var(--notify-color);
}

#contacts{
    overflow-y: scroll;
    height: calc((100vh - 40px) - 190px);
}

/* chat-side */
#chat-side{
    padding: 0;
}

#main-chat{
    background-image: url(../img/mine.jpg) ;
    overflow-y: scroll;
    height: calc((100vh - 40px) - 145px);
}

#footer-chat{
    background-color: var(--text-section);
}
