<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- JavaScript -->
    <script defer src="js/script.js"></script>
</head>

<body>
    <div id="root" class=" d-flex">
        <main class="container ">
            <div class="row h-100">
                <div id="contacts-side" class="col-4">
                    <!-- user section -->
                    <section id="user" class="p-2 media">
                        <!-- left side -->
                        <div class="media-left">
                            <!-- image -->
                            <img class="avatar mx-2" :src="getContactImage(user)" :alt="user.name">
                            <!-- name -->
                            <span class="h6">{{ user.name }}</span>
                        </div>
                        <!-- right side -->
                        <div class="media-right">
                            <!-- icons -->
                            <i class="fa-solid fa-circle-notch fa-xl mx-2"></i>
                            <i class="fa-solid fa-message fa-xl mx-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl mx-2"></i>
                        </div>
                    </section>
                    <!-- notifications section -->
                    <section id="notifications" class="d-flex p-2">
                        <div id="bell" class="mx-2">
                            <i class="fa-solid fa-bell-slash fa-xl"></i>
                        </div>
                        <div>
                            <p class="h6">Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </section>
                    <!-- search section -->
                    <section id="search" class="p-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text border-end-0" id="basic-addon1"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="  Cerca o inizia una nuova chat"
                                aria-describedby="basic-addon1">
                        </div>
                    </section>
                    <!-- contact section -->
                    <section id="contacts">
                        <ul>
                            <!-- contacts -->
                            <li v-for="(contact, i) in contacts" class="border-bottom d-flex"
                                @click="setCurrentContact(i)">
                                <!-- image -->
                                <img class="avatar m-2" :src="getContactImage(contact)" :alt="contact.name">
                                <!-- name -->
                                <h6>{{ contact.name }}</h6>
                            </li>
                        </ul>
                    </section>

                </div>
                <!-- chat side -->
                <div id="chat-side" class="col-8" v-for="(contact, i) in contacts" v-show="currentContact === i">
                    <!-- header chat -->
                    <section id="header-chat" class="p-2 media">
                        <div class="media-left">
                            <img class="avatar mx-2" :src="getContactImage(contact)" :alt="contacts.name">
                            <div>
                                <p class="h6">{{ contact.name }}</p>
                                <p>Ultimo accesso oggi alle</p>
                            </div>
                        </div>
                        <div class="media-right">
                            <i class="fa-solid fa-magnifying-glass fa-xl mx-2"></i>
                            <i class="fa-solid fa-paperclip fa-xl mx-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl mx-2"></i>
                        </div>
                    </section>
                    <!-- main chat -->
                    <section id="main-chat" class="p-2">
                        <ul class="d-flex flex-column">
                            <!-- messages -->
                            <li v-for="message in contact.messages" v-text="message.message" class="message my-2 shadow"
                                :class="message.status">
                            </li>
                        </ul>
                    </section>
                    <!-- footer chat -->
                    <section id="footer-chat" class="p-2"></section>

                </div>
            </div>

        </main>
    </div>
</body>

</html>